.frame {
  border: 1px solid black;
  width: 6.5rem;

  &__index {
    padding: 0.5rem;
  }

  &__roll-scores {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    height: 2rem;

    &--first {
      padding: 0.5rem;
    //   padding-right: 1rem;
      border-right: 1px solid black;
      width: 50%;
    }

    &--second {
      padding: 0.5rem;
    //   padding-left: 0.5rem;
      width: 50%;
    }
  }

  &__score {
    padding: 0.5rem;
  }
}
